@model OnlineStore.Models.Product

@{
    ViewData["Title"] = "Product Details";
}

<div class="col-md">
    <div class="card mb shadow-sm">
        <img src="https://placehold.co/400" class="card-img-top" alt="Product Image">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h2>@Model.Description</h2>
            <h4>@Model.Price.ToString("C")</h4>
        </div>
    </div>
</div>

<form asp-controller="Product" asp-action="AddToOrder" method="post">
    <input type="hidden" name="productId" value="@Model.Id" />
    <div class="form-group" style="margin: 8px">
        <label for="quantity">Quantity</label>
        <input type="number" name="quantity" class="form-control" value="1" min="1" />
    </div>
    <br />
    <button type="submit" class="btn btn-success" style="margin: 8px 8px 8px 0px">Add to order</button>
    <br />
</form>

@if (User.IsInRole("Admin"))
{
    <a asp-controller="Product" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary" style="margin: 8px 8px 8px 0px">Edit</a>
    <a asp-controller="Product" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger" style="margin: 8px 8px 8px 0px">Delete</a>
}

<a asp-action="Index" class="btn btn-secondary" style="margin: 8px 8px 8px 0px">Go back</a>